<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Editar Serviço - Control</title>
<meta name="description" content="Atualização do sistema de Serviços da empresa Control">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
<link rel="stylesheet" href="app/styles/main.css">
<link rel="icon" href="app/images/logo.ico">
</head>

<div ng-include="'app/views/header.html'"></div>

<div class="container">
	<div class="row content">
		<h3>Editar Serviço</h3>
		<hr />
		<form ng-submit="atualizarServico(servicoEdicao)">
			<div class="form-group">
				<label for="descricao">Descrição:</label> <input type="text" name="descricao" id="descricao_servico" ng-model="servicoEdicao.descricao"
					class="form-control" maxlength="250" required>
			</div>
			<div class="form-group">
				<label for="valor">Valor:</label> <input type="number" min="1" class="form-control" name="valor" ng-model="servicoEdicao.valor"
					id="valor_servico" required>
			</div>
			<button type="submit" class="btn btn-success btn-space  pull-right">Editar</button>
			<div><a class="btn btn-primary btn-space pull-right" href="/control/#!/"> Voltar</a></div>
			
		</form>
	</div>
</div>
<hr />

</html>