<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Criar Serviço - Control</title>
<meta name="description" content="Tela inicial do sistema de Serviços da empresa Control">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
<link rel="stylesheet" href="app/styles/main.css">
<link rel="icon" href="app/images/logo.ico">
</head>


<div ng-include="'app/views/header.html'"></div>

<div class="container">
	<div class="row content">
		<h3>Criar Novo Serviço</h3>
		<hr />
		<form ng-submit="criarServico(serv)">
			<div class="form-group">
				<label for="descricao">Descrição:</label> <input type="text" name="descricao" id="descricao_servico" ng-model="serv.descricao"
					class="form-control" maxlength="250" placeholder="Insira a descrição do serviço" required>
			</div>
			<div class="form-group">
				<label for="valor">Valor:</label> <input type="number" min="1" class="form-control" name="valor" ng-model="serv.valor" id="valor_servico"
					placeholder="Insira o valor do serviço em reais" required>
			</div>
			<button type="submit" class="btn btn-success btn-space  pull-right">Criar</button>
			<div><a class="btn btn-primary btn-space pull-right" href="/control/#!/"> Voltar</a></div>
		</form>
	</div>
</div>
<hr />

</html>