<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sistema de Serviços - Control</title>
<meta name="description" content="Tela inicial do sistema de Serviços da empresa Control">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
<link rel="stylesheet" href="app/styles/main.css">
<link rel="icon" href="app/images/logo.ico">
</head>

<div ng-include="'app/views/header.html'"></div>

<div class="container">

	<a href="/control/#!/criarservico" class="btn btn-info mt-12 pull-right ">Criar Serviço</a>

	<div class="mn box_1" style="float: left">
		<h3 class="total">
			<span class="main_total">Serviços <img src="app/images/servico.png" alt="" height="50" width="50">
			</span>
		</h3>
	</div>


	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Valor</th>
					<th>Descrição</th>
					<th class="text-right">Ações</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="serv in servico">
					<td>{{ serv.id }}</td>
					<td>R$ &nbsp;{{ serv.valor | number : 2 }}</td>
					<td>{{ serv.descricao }}</td>
					<td class="text-right">
						<button type="submit" class="btn btn-danger" ng-click="deletarServico(serv)">
							Deletar &nbsp; <span class="	glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button> <a type="submit" class="btn btn-primary" ng-click="editarServico(serv)" href="/control/#!/atualizarservico">Atualizar &nbsp; <span
							class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a> <a type="submit" class="btn btn-success" ng-click="criarOrdemServico(serv)" href="/control/#!/criarordem">Criar Ordem &nbsp; <span
							class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>

</html>
