<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Relatório - Control</title>
<meta name="description" content="Relatório do sistema de Serviços da empresa Control">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
<link rel="stylesheet" href="app/styles/main.css">
<link rel="icon" href="app/images/logo.ico">
</head>

<div ng-include="'app/views/header.html'"></div>

<div class="container">
	<div class="rlt box_1" style="float: left">
		<h3 class="total">
			<span class="relatorio_total">Relatório Geral <img src="app/images/relatorio.png" alt="" height="50" width="50">
			</span>
		</h3>
	</div>

	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th># Servico</th>
					<th>Servico</th>
					<th>Valor Unitário</th>
					<th>Quantidade</th>
					<th>Valor Total</th>
					<th>Desconto</th>
					<th>Valor Final</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="rlt in relatorios['listaRelatorio']">
					<td>{{ rlt.idServico }}</td>
					<td>{{ rlt.descricaoServico }}</td>
					<td>R$ &nbsp;{{ rlt.valorUnitarioServico | number : 2 }}</td>
					<td>{{ rlt.quantidadeOrdem }}</td>
					<td>R$ &nbsp;{{ rlt.valorTotalOrdem | number : 2 }}</td>
					<td>{{ rlt.descontoOrdem }}%</td>
					<td>R$ &nbsp;{{ rlt.valorFinalOrdem | number : 2 }}</td>
				</tr>

				<tr>
					<th>TOTAL</th>
					<td></td>
					<td></td>
					<td></td>
					<td>R$ &nbsp;{{relatorios['valorTotal'] | number : 2 }}</td>
					<td></td>
					<td>R$ &nbsp;{{relatorios['valorFinal'] | number : 2 }}</td>
				</tr>


			</tbody>
		</table>
	</div>
</div>
</html>
