<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Registro do Sistema - Control</title>
<meta name="description" content="Registro do sistema da empresa Control">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" />
<link rel="stylesheet" href="app/styles/main.css" />
<link rel="icon" href="app/images/logo.ico" />

</head>


<div class="container">

	<div class="row" id="pwd-container">
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<section class="login-form">
				<form method="post" role="login" ng-submit="registrar(registro)">
					<img src="app/images/logo.png" class="img-responsive" alt="" alt="" height="150" width="150" />
					
					<div class="form-group" ng-class="{ 'has-error': form.nome.$dirty && form.nome.$error.required }">
						<input type="text" name="nome" id="nome" class="form-control input-lg" ng-model="registro.nome" placeholder="Nome" required />
						<span ng-show="form.nome.$dirty && form.nome.$error.required" class="help-block">Nome do funcionário necessário</span>
					</div>
					
					<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
						<input type="email" name="usuario" id="email" class="form-control input-lg" ng-model="registro.email" placeholder="E-mail" required />
						<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-mail é necessário</span>
					</div>

					<div class="form-group" ng-class="{ 'has-error': form.senha.$dirty && form.senha.$error.required }">
						<input type="password" name="senha" id="senha" ng-model="registro.senha" class="form-control input-lg" placeholder="senha" required />
						<span ng-show="form.senha.$dirty && form.senha.$error.required" class="help-block">Senha é necessária</span>
					</div>
					
					<button type="submit" name="go" ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block">Criar conta</button>
					<div>
						<a href="/control/#!/login">Logar</a>
					</div>

				</form>

			</section>
		</div>

		<div class="col-md-4"></div>


	</div>

</div>